
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body{
    color:#707071;
    /* background-color: #F8F9FA; */
    font-weight: 500;
    line-height:1.6;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin: auto;
}

p {
    font-weight: 500;
    line-height: 1.6;
    font-size: 15px;
}


/*--------------------------------------------------------------
# NavBar
--------------------------------------------------------------*/
.logo{
    width: 50px;
    height: 50px;
}

.nav-link{
    color: #707071;
}

.nav-link .active{
    color: #aba5eb!important;
}

.nav-link:focus{
    color: #707071!important;
}

.nav-link:hover{
    color: #aba5eb;
}

a.contact-me,.btn-submit{
    text-decoration: none;
    border: 3px solid #aba5eb;
    font-size: 18px;
    color:#707071;
    border-radius: 30px;
    margin-right: auto;
    transition: ease-in-out 0.3s;
}

a.contact-me:hover, .btn.get-started:hover, .btn-submit:hover{
    color:#ffffff;
    background-color:#918BD7;
}

a.contact-me:active, .btn.get-started:active, .btn-submit:active{
    color:#ffffff;
    background-color:#7c75c5;
}

/*--------------------------------------------------------------
# Banner
--------------------------------------------------------------*/
.banner {
    margin-top: 75px!important;
    padding: 60px 160px 60px 160px;
}

.banner-img{
    width: 400px;
    /* height: 50px; */
}

.btn.get-started {
    border: 3px solid #aba5eb;
    font-size: 18px;
    color:#707071;
    border-radius: 0px;
    transition: ease-in-out 0.3s;
}

.animate__animated.animate__bounce{
    --animate-duration: 6s;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about, .project {
    padding: 0px 50px 0px 50px;
}

.about-card{
    width: 18rem!important;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)!important; */
    box-shadow: none!important;
    border-radius: 5px!important;
}

.about-card-img{
    width: 100%;
}

.social-icon{
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
}

.social{
    display: flex;
    gap: 15px;
}

.linkedin,.github,.instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #918BD7;
    border: 3px solid #e3e3ec;
    color: #ffffff;
    font-size: 18px;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.linkedin:hover,.github:hover,.instagram:hover{
    background-color: #736db4;
    border: 3px solid #e3e3ec;
    color: #ffffff;
}

.cv{
    font-weight: 600;
    font-size: 17px;
    color: #707071;
    text-decoration: none;
}

.fa-download{
    margin-left: 10px;
    color:#918BD7;
    transition: ease-in-out 0.3s;
}

.fa-download:hover{
    color:#7670c2;
}

.fa-download:active{
    color:#655eac;
}

/*--------------------------------------------------------------
# Carousel
--------------------------------------------------------------*/
.carousel{
    width: 50rem;
    color: #413e66;
    background-color: #c1bbdd;
}

.car-img{
    width: 300px;
}

.car-body{
    padding: 0px 120px 0px 120px;
}

.car-body a{
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}

.car-body span{
    font-size: 13px;
    color: #ffffff;
}

.car-body p{
    font-size: 11px;
}

/*--------------------------------------------------------------
# Project
--------------------------------------------------------------*/

.project p{
    font-size: 14px;
}

/*--------------------------------------------------------------
# Contact Me
--------------------------------------------------------------*/
.contactme {
    padding: 0px 50px 0px 50px;
    background-color: #413e66;
    color: #dfdddd;
}

.contactme p{
    font-size: 13px;
}

.contactme i{
    font-size: 60px;
}

.contactme hr{
    color: #ffffff;
    border-color: #ffffff;
}




/* .container{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    border: 3px solid #e0e0f1;
} */


/*--------------------------------------------------------------
# Left Side
--------------------------------------------------------------*/

/* .left-side{
    flex: 70%;
    margin: 40px 0px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.introduction{
    margin: 0px 0px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
} */

/* .text{
    text-align: justify;
}

.download{
    margin: 0px 0px 0px 40px;
    display: flex;
    flex-direction: row;
}

.contact,.cv-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    color:#ffffff;
    border: 3px solid #e3e3ec;
    border-radius: 30px;
    background-color:#918BD7;
    height: 35px;
    width: 120px;
    text-decoration: none;
    margin-right: 20px;
    transition: ease-in-out 0.3s;
}

.contact-button:hover,.linkedin:hover,.github:hover,.instagram:hover{
    background-color:#7670c2;
} */

/* .contact-button:active,.linkedin:active,.github:active,.instagram:active{
    background-color:#655eac;
}

.cv{
    font-weight: 600;
    font-size: 17px;
    color: #707071;
    text-decoration: none;
}

.fa-download{
    margin-left: 10px;
    color:#918BD7;
    transition: ease-in-out 0.3s;
}

.fa-download:hover{
    color:#7670c2;
}

.fa-download:active{
    color:#655eac;
}

.social-icon{
    margin: 10px 0px 0px 40px;
    display: flex;
    flex-direction: row;
}

.social{
    display: flex;
    gap: 15px;
}

.linkedin,.github,.instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #918BD7;
    border: 3px solid #e3e3ec;
    color: #ffffff;
    font-size: 18px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    transition: ease-in-out 0.3s;
} */



/*--------------------------------------------------------------
# Right Side
--------------------------------------------------------------*/
/* .right-side{
    flex: 30%;
    margin: 40px 0px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.card{
    width: 16rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 30px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.photo{
    width: 16rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px
} */


/*--------------------------------------------------------------
# Get in Touch
--------------------------------------------------------------*/

/* .container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    position: relative;
}

.header{
    font-size: 22px;
    padding: 0px;
    margin-top: -40px;
    margin-bottom: 0px;
    text-align: center;


/* @keyframes alert {
    0% { opacity: 0; left:0px; top:200px;}
    100% { opacity: 1; left:0px; top:0px;}
} */



/* form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 35px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
}

.form-group{
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.input-group{
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
}

input,select,textarea{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgb(224, 203, 203);
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    outline: none;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
  }
  
  input:focus,select:focus,textarea:focus {
    border: 3px solid rgb(224, 203, 203);
    border-radius: 10px;
  } */

/* input,select,textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(224, 203, 203);
    border-radius: 10px;
} */

/* input:focus,select:focus,textarea:focus{
    width: 80%!important;
    padding: 10px!important;
    margin-bottom: 20px!important;
    box-sizing: border-box!important;
    border: 1px solid rgb(224, 203, 203)!important;
    border-radius: 10px!important;
} */

/* .btn-submit{
    margin-top: 20px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
} */



/*--------------------------------------------------------------
# 
--------------------------------------------------------------*/

/* @media (max-width: 820px) {
    .alert{
        width: 57.5%;
    }

    header{
        padding: 5px 50px 5px 50px;
    }

    section{
        padding: 30px 20px 30px 20px;
        animation: fadeup 0.8s;
        position: relative;
    }
    
    .container {
        display: flex;
        flex-direction: column;
    }

    .left-side{
        order: 2;
        flex: 100%;
        margin: 40px 40px 40px 40px!important;
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    
    .introduction,.download,.social-icon{
        margin: 0px 0px 0px 0px!important;
    }

    .right-side{
        flex: 100%;
        margin: 40px 0px 0px 0px!important;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }

    form{
        width: 90%!important;
    }
    
    .form-group{
        width: 80%!important;
    }
    
    .input-group{
        width: 80%!important;
    }

    .p-card{
        display: grid;
        grid-template-columns: auto auto;
        margin: auto;
        row-gap: 50px;
        column-gap: 50px;
        margin-bottom: 50px;
    }
    .top{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .top-left-side{
        order: 1;
    }
    
    .top-right-side{
        order: 2;
    }

  }

@media (min-width: 823px) and (max-width: 1199.98px) {
    .left-side{
        flex: 70%;
        margin: 40px 10px 40px 40px!important;
    }

    .introduction,.download,.social-icon{
        margin: 0px 0px 0px 0px!important;
    }

    .right-side{
        flex: 30%;
        margin: 40px 40px 40px 10px!important;
    }

    form{
        width: 90%!important;
    }
    
    .form-group{
        width: 80%!important;
    }
    
    .input-group{
        width: 80%!important;
    }

    .p-card{
        display: grid;
        grid-template-columns: auto auto;
        margin: auto;
        row-gap: 50px;
        column-gap: 50px;
        margin-bottom: 50px;
    }

}

@media (min-width: 200px) and (max-width: 700px){
   body{
    width: 200vw;
   }

   .p-card{
        display: grid;
        grid-template-columns: auto;
        margin: auto;
        row-gap: 50px;
        column-gap: 50px;
        margin-bottom: 50px;
    }
}

 */
